python-dotenv
fastapi
uvicorn
psycopg2-binary
SQLAlchemy
dbt-core
dagster
pydantic
requests
telethon
dbt-postgres
fastapi
python-dotenv
ultralytics
dagster
dagster-webserver
# Add other necessary packages as they arise
# Core Libraries
python-dotenv
pandas
sqlalchemy

# Scraping
telethon

# Data Transformation
dbt-postgres

# Data Enrichment
ultralytics

# API
fastapi
uvicorn[standard]
psycopg2-binary

# Orchestration
dagster
dagster-webserver